* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
header {
    color:#636B2F;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color:#636B2F;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
section {
    background: beige;
    color:#7C7C64;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 123, 255, 0.3);

}
img{
    width:200px;
    height:auto
}